---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import OpinionCarousel from "../components/OpinionCarousel.jsx";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <NavBar />
  <Hero />
  <section>  
  <OpinionCarousel client:load />
</section>
  <Services />
  <Contact />
  <Footer />
</Layout>
